question
test_images
197B.tif
test_images_wsi
test_images_weight
output_patches
module/vit
module/checkpoints

output_inference

module/checkpoint/*.pth
visual_test
CRC01_features_stream
train_output.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Experiments and weights
experiments/
*.pth

logs
*.log

dataset/new_extract_features
dataset/crc_cache/*